@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

:root{
    /* Colors */
    --back-color: #ff012d;
    --main-color: #ff284c;
    --select-color: #fff;
    --form-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.3);
    --bold-color: #3a3b3c;
    --toggle-color: #dcdcdc;
    --medium-color: #585858;
    --muted-color: #bababa;
    --carousel-color: #ffe6e6;

     /* Transitions */
     --tran-02: all 0.2s ease;
     --tran-03: all 0.3s ease;
     --tran-04: all 0.4s ease;
     --tran-05: all 0.5s ease;
     --tran-08: all 0.8s ease;
}

::selection{
    background-color: var(--back-color);
    color: var(--select-color);
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.dark{
    /* Colors */
    --back-color: #ff284c;
    --main-color: #18191A;
    --select-color: #242020;
    --form-shadow: 0 60px 40px -30px rgba(216, 216, 216, 0.105);
    --bold-color: #fff;
    --toggle-color: #272727;
    --medium-color: #fef6f6;
    --muted-color: #d3d3d3;
    --carousel-color: #b9b9b9;
}

.dark .toggle-btn:hover{
    background-color: brightness(110%);
}

main{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: var(--main-color);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tran-05);
}


.container{
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: var(--select-color);
    border-radius: 3.2rem;
    box-shadow: var(--form-shadow);
    transition: var(--tran-04);
}

i.toggle-btn{
    color: var(--bold-color);
    width: 40px; height: 40px;
    background-color: var(--toggle-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 650px;
    justify-content: center;
    font-size: 1.3rem;
    cursor: pointer;
    transition: var(--tran-03);
}

i.toggle-btn:hover{
    filter: brightness(80%);
}

.inner-box{
    position: absolute;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--tran-03);
}

.forms-wrap{
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0; left:0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: .8s ease-in-out;
}

form{
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    transition: opacity 0.02s 0.4s;
}

form.sign-up-form{
    opacity: 0;
    pointer-events: none;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 100px;
    margin: 0.3rem;
}

.heading h2{
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--medium-color);
}

.heading h6{
    font-size: .8rem;
    font-weight: 400;
    color: var(--muted-color);
    display: inline;
}

.toggle{
    color: var(--bold-color);
    text-decoration: none;
    font-size: .8rem;
    font-weight: 500;
    transition: var(--tran-03);
}

.toggle:hover{
    color: var(--back-color);
}

.input-wrap{
    position: relative;
    height: 37px;
    margin-bottom: 2rem;

}

.input-field{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--muted-color);
    padding: 0;
    font-size: 1rem;
    color: var(--bold-color);
    transition: var(--tran-04);
}

label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--muted-color);
    pointer-events: none;
    transition: var(--tran-04);

}

.input-field.active{
    border-bottom-color: var(--back-color);

}

.input-field.active + label {
    font-size: .75rem;
    top: -2px;
}

.sign-btn{
    display: inline-block;
    width: 100%;
    height: 44px;
    background-color: var(--bold-color);
    color: var(--select-color);
    border: none;
    cursor: pointer;
    border-radius: .8rem;
    font-size: .8rem;
    margin-bottom: 2rem;
    transition: var(--tran-03);
}

.sign-btn:hover{
    background-color: var(--back-color);
}

.text{
    color: var(--muted-color);
    font-size: .7rem;
}

.text a{
    color: var(--muted-color);
    transition: var(--tran-03);
}

.text a:hover{
    color: var(--back-color);
}

main.sign-up-mode .forms-wrap{
    left: 55%;
}

main.sign-up-mode form.sign-in-form{
    opacity: 0;
    pointer-events: none;
}

main.sign-up-mode form.sign-up-form{
    opacity: 1;
    pointer-events: all;
}

main.sign-up-mode .carousel{
    left: 0%;
}

.carousel{
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    background-color: var(--carousel-color);
    border-radius: 2rem;
    display: grid;
    grid-template-rows: auto 1fr; /* auto for images-wrapper, 1fr for text-slider */
    padding-bottom: 2rem;
    overflow: hidden;
    transition: var(--tran-08);
}

.images-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.image{
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    opacity: 0;
    transition: opacity 0.3s, transform 0.5s;
}

.img-1{
    transform: translate(0, -50px);
}

.img-2{
    transform: scale(0.4, 0.5);
}

.img-3{
    transform: scale(0.3, 0.3) rotate(-20deg);
}

.image.show{
    opacity: 1;
    transform: none;
}

.text-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-wrap{
    max-height: 2.2rem;
    overflow: hidden;
    margin-bottom: 2.5rem;
}

.text-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(0);
    transition: var(--tran-05);
}

.text-group h2{
    line-height: 2.2rem;
    font-weight: 600;
    font-size: 1.6rem;
}

.bullets{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullets span{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--bold-color);
    margin: 0 0.27rem;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--tran-03);

}

.bullets span.active{
    width: 1.2rem;
    background-color: var(--main-color);
    border-radius: 1rem;
}

/* Responsiveness */

@media (max-width: 850px){

    i.toggle-btn{
        width: 35px; height: 35px;
        font-size: 1rem;
        margin-right: 1.5rem;
    }

    .container{
        height: auto;
        max-width: 550px;
        overflow: hidden;
    }


    .inner-box{
        position: static;
        transform: none;
        width: revert;
        height: revert;
        padding: 2rem;
    }

    .forms-wrap{
        position: revert;
        width: 100%;
        height: auto;
    }

    form{
        max-width: revert;
        padding: 1.5rem 2.5rem 2rem;
        transition: transform 0.8s ease-in-out, opacity .45s linear;
    }

    .heading{
        margin: 2rem 0;
    }

    form.sign-up-form {
        transform: translateX(100%);
    }

    main.sign-up-mode form.sign-in-form{
        transform: translateX(-100%);
    }

    main.sign-up-mode form.sign-up-form{
        transform: translateX(0%);
    }

    .carousel{
      position: revert;
        width: 100%;
        height: auto;
        padding: 3rem 2rem;   
        display: flex;
    }

    .images-wrapper{
        display: none;
    }
    .text-slider{
        width: 100%;
    }

    .text-group h2{
        font-size: 1.1rem;
    }
    

}

@media (max-width: 530px){
    
    i.toggle-btn{
        width: 25px; height: 25px;
        font-size: .8rem;
        margin-right: 1rem;
    }
    

    main {
        padding: 1rem;
    }

    .container{
        border-radius: 2rem;
    }

    .inner-box{
        padding: 1rem;
    }

    .carousel{
        padding: 1.5rem 1rem;
        border-radius: 1.6rem;
    }

    .text-wrap{
        margin-bottom: 1rem;
    }

    .text-group h2{
        font-size: .7rem;
    }

    form{
        padding: 1rem 2rem 1.5rem;
    }
}