@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

*, *::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --back-color: #fdeff1;
    --main-color: #ff284c;
    --accent-color: #4327de;
    --highlight-color: #ff546b;
    --select-color: #fff;
    --transparent-color: rgba(255,255,255,0.6);
    --form-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.3);
    --bold-color: #3a3b3c;
    --super-bold-color: #212121;
    --toggle-color: #fff6f6;
    --medium-color: #585858;
    --muted-color: #bababa;

     /* Transitions */
     --tran-03: all 0.3s ease;
     --tran-05: all 0.5s ease;

    /* Misc */
    --card-border-radius-1: 40px 40px 5px 40px;
    --card-border-radius-2: 40px 40px 40px 5px;
    --card-border-radius-3: 40px 5px 40px 40px;
    --card-border-radius-4: 5px 40px 40px 40px;
    --sample-border-radius: 2rem;
    --card-padding: 1.8rem;
    --section-padding: 7rem;
    --box-shadow: 0 2rem 3rem rgba(21, 21, 21, 0.18);
    --box-shadow-toggle: 0 0 10px 0px rgba(0, 0, 0, 0.05);
    --box-shadow-scroll: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: var(--toggle-color);
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 8px;
    transition: var(--tran-03);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-color);
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}


::selection{
    background-color: var(--main-color);
    color: var(--back-color);
}

.dark{
    --back-color: #18191A;
    --main-color: #ff284c;
    --accent-color: #5e28ff;
    --highlight-color: #df475b;
    --select-color: #242020;
    --transparent-color: rgba(0,0,0,0.6);
    --box-shadow: 0 2rem 3rem rgba(246, 246, 246, 0.18);
    --box-shadow-toggle: 0 0 10px 0px rgba(233, 233, 233, 0.09);
    --box-shadow-scroll: 0 5px 20px 0.1px rgba(255, 255, 255, 0.1);
    --super-bold-color: #fff;
    --bold-color: #ebebeb;
    --toggle-color: #272727;
    --medium-color: #e3e3e3;
    --muted-color: #d3d3d3;
}

.dark .shape.square{
    opacity: .2;
}

.dark .toggle-btn:hover{
    background-color: brightness(110%);
}

.dark .nav-link:hover::after, .nav-link.active::after{
    opacity: .4;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: var(--back-color);
    transition: var(--tran-03);
}

body.stopScrolling{
    height: 100%;
    overflow: hidden;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* ============ Reusable CSS ============= */
.container{
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.logo{
    margin-right: 2.5rem;
    transition: var(--tran-03);
    height: 120px;
}

.logo img{
    display: flex;
    width: 115px;
    margin: .6rem;
    transition: var(--tran-03);
    height: 42px;
}

.sub-heading{
    color: var(--medium-color);
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: .5px;
    border-left: 3px solid var(--main-color);
    padding: .13rem .75rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.heading{
    color: var(--super-bold-color);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

.text{
    color: var(--muted-color);
    font-size: .9rem;
    margin: 2rem 0;
    line-height: 2.3;
}

.about{
    position: relative;
    padding: var(--section-padding) 0;
}

.start{
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: .9rem 1.75rem;
    border-radius: 7rem;
    min-width: 125px;
    text-align: center;
    background-color: var(--bold-color);
    color: var(--select-color);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .9rem;
    letter-spacing: .4px;
    text-transform: capitalize;
    transition: var(--tran-03);
}

.btn:hover{
    background-color:var(--main-color);
}

.btn.secondary-btn{
    position: relative;
    background-color: transparent;
    color: var(--main-color);
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid var(--bold-color);
    border-radius: 0px;
    padding: 0.15rem 0;
    min-width: revert;
}

.btn.secondary-btn::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -2.5px; left: 0;
    border-radius: .8rem;
    background-color: var(--highlight-color);
    transition: .3s ease-in-out;
}

.btn.secondary-btn:hover::before{
    width: 100%;
}

.btn.secondary-btn.sm{
    padding: 0.07rem 0.1rem;
    font-size: .78rem;
    border-bottom-width: 2px;
}

.btn.secondary-btn.sm::before{
    height: 2px;
    bottom: -2px;
}

.section{
    position: relative;
    padding: var(--section-padding) 0;
}

.triangle{
    width: 96px;
    opacity: 0.2;
}

.dots{
    width: 150px;
}

.square{
    width: 80px;
}

.form-input{
    display: inline-block;
    padding: .9rem 1.5rem;
    background: var(--toggle-color);
    border: 2px solid var(--toggle-color);
    border-radius: 17px;
    font-size: .9rem;
    font-weight: 500;
    color: var(--bold-color);
    outline: none;
    transition: .3s;
}

.form-input::placeholder{
    color: var(--muted-color);
}

.form-input:hover{
    filter: brightness(97%);
}

.form-input:focus,
.form-input:valid{
    filter: brightness(100%);
    background: var(--back-color);
    border-color: var(--highlight-color);
}

/* ============ Navbar ============= */

header{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 10;
    transition: var(--tran-03);
}


header.scrolled{
    background-color: var(--transparent-color);
    box-shadow: var(--box-shadow-scroll);
    backdrop-filter: blur(15px);
}

header .logo img{
    margin-top: 2.5rem;
}

header.scrolled .logo{
    height: 80px;
}

header.scrolled .logo img{
    margin-top: 1.1rem;
}

nav.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.links{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.links ul{
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-link{
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .5px;
    color: var(--medium-color);
    opacity: .9;
    transition: var(--tran-03);
}

.nav-link::after{
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius: .8rem;
    background-color: var(--accent-color);
    bottom: 0; left: -5px; z-index: -1;
    opacity: 0;
    transition: var(--tran-03);
}

.nav-link:hover, .nav-link.active{
    color: var(--highlight-color);
    opacity: 1;
}

.nav-link:hover::after, .nav-link.active::after{
    width: 100%;
    opacity: .2;
}

i.toggle-btn{
    color: var(--super-bold-color);
    min-width: 40px; height: 40px;
    background-color: var(--toggle-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    box-shadow: var(--box-shadow-toggle);
    transition: var(--tran-03);
    cursor: pointer;
}

i.toggle-btn:hover{
    filter: brightness(80%);
}

i.sign-btn{
    margin-left: 5rem;
    color: var(--medium-color);
    min-width: 30px; height: 30px;
    background-color: var(--toggle-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    box-shadow: var(--box-shadow-toggle);
    transition: var(--tran-03);
    cursor: pointer;
}

i.sign-btn:hover{
    color: var(--select-color);
    background-color: var(--highlight-color);
}

/* ===================== Showcase Styling ======================================= */

.showcase-area{
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.showcase-area .container{
    display: grid;
    grid-template-columns: 1fr 550px;
    height: calc(100vh - 120px);
    max-height: 600px;
    align-items: center;
}

.showcase-area .sub-heading{
    margin-bottom: .7rem;
}

.showcase-area .heading{
    font-size: 3.5rem;
}

.showcase-area .text{
    margin: .8rem 0;
}


.showcase-image{
    position: relative;
    width: 100%;
    min-height: calc(100% + 120px);
    background-image: linear-gradient(124deg, var(--main-color) 50%, var(--accent-color) 50%);
    margin-top: -120px;
    border-radius: 0 0 80px 80px;
}

.showcase-image .splash{
    position: absolute;
    width: 120%;
    height: 60%;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}


.showcase-area .circle{
    position: absolute;
    width: 190px;
    left: 0;
    top: 80%;
    transform: translate(-50%, -50%);
    
}

.showcase-area .dots{
    position: absolute;
    left: 100%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.showcase-area .square{
    position: absolute;
    left: 25%;
    bottom: 120px;
    transform: translate(-50%, -50%);
}


/* ===================== About Section Styling ======================================= */

.about .container{
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    align-items: center;
}

.about .text{
    margin: 3rem 0 4rem;
}

.about-grid{
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 190px 190px;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 80px;
    margin-right: 2rem;
    position: relative;
}

.about-card{
    background-color: var(--select-color);
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: var(--tran-05);
    box-shadow: var(--box-shadow-scroll);
}

.about-card:nth-child(1){
    border-radius: var(--card-border-radius-1);
}

.about-card:nth-child(2){
    margin-top: 50px;
    border-radius: var(--card-border-radius-2);
}

.about-card:nth-child(3){
    margin-top: -50px;
    border-radius: var(--card-border-radius-3);
}

.about-card:nth-child(4){
    border-radius: var(--card-border-radius-4);
}

.icon{
    width: 60px;
}

.st0{
    fill:var(--toggle-color);
    transition: var(--tran-03);
}

.st1{
    fill:var(--muted-color);
    transition: var(--tran-03);
}

.st2{
    fill:var(--accent-color);
    transition: var(--tran-03);
}

.about-card h3{
    color: var(--bold-color);
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1rem;
    letter-spacing: .3px;
}

.about-card:hover{
    transform: scale(1.1);
    box-shadow: none;
}

.about-card:hover .st2{
    fill: var(--highlight-color);
}

.about-grid::before{
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid var(--accent-color);
    z-index: -1;
    opacity: 0.08;
}

.about .triangle{
    position: absolute;
    left: 90%;
    top: 27%;
    transform: translate(-50%, -50%);
}

/* --------------- Progress Section Styling --------------- */

.progress .container{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 6rem;
    align-items: center;
}

.milestones{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-items: flex-start;
}

.milestones h2{
    color: var(--main-color);
    font-size: 1.3rem;
}

.milestones h2 span{
    font-size: 2rem;
    line-height: 1.2;
    margin-right: .1rem;
}

.milestones h5{
    color: var(--medium-color);
    line-height: .9;
    font-weight: 500;
    font-size: 1rem;
}

.progress-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4rem;
}

.prg-card{
    background-color: var(--select-color);
    border-radius: 15px;
    padding: 2.5rem 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 280px;
    box-shadow: var(--box-shadow-scroll);
    transition: var(--tran-03);   
}

.prg-card:hover{
    box-shadow: none;
}

.prg-card h3{
    color: var(--bold-color);
    font-weight: 600;
    font-size: 1.05rem;
}

.prg-card .text{
    margin: .7rem 0;
    font-size: .7rem;
}

.prg-card:nth-child(2){
    transform: translateY(2.2rem);
}

.prg-card:nth-child(3){
    transform: translateY(-2.2rem);
}

.progress-grid::before{
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    top: 52%; left: 72%;
    transform: translate(-50%, -50%);
    border: 15px solid var(--accent-color);
    z-index: -1;
    opacity: 0.08;
}

.progress .triangle{
    top: 90%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -100%);
}

.progress .square{
    top: 78%;
    left: 45.5%;
    position: absolute;
    transform: translate(-50%, -100%) rotate(-90deg);
    z-index: -1;
}

/* --------------- Courses Section Styling --------------- */


.courses .container{
    transition: 0.4s ease-in-out;
}

.course-header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.course-title{
    padding-bottom: 1rem;
}

.filter-btn{
    display: inline-block;
    color: var(--super-bold-color);
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    text-transform: uppercase;
}

.filter-btn.mixitup-control-active{
    color: var(--highlight-color);
}

.course-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.course-card{
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--select-color);
    height: 265px;
    display: grid;
    grid-template-rows: 1fr auto;
    box-shadow: var(--box-shadow-scroll);
}

.course-image{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.course-image img{
    width: 101%;
}

.course-desc{
    padding: 1.1rem 1.6rem;
    display: flex;
    justify-content: space-between;
}

.course-desc h3{
    font-size: .95rem;
    color: var(--bold-color);
    font-weight: 600;
    text-transform: capitalize;
}

.course-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background-color: transparent;
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: var(--tran-05);
}

.course-image:hover .course-overlay{
    pointer-events: auto;
    background-color: var(--transparent-color);
    backdrop-filter: blur(10px);
}

.course-icon{
    color: var(--select-color);
    font-size: 1.1rem;
    margin: 0 0.4rem;
    background-color: var(--bold-color);
    border-radius: 50%;
    width: 40px; height: 40px;
    display: flex;
    outline: none;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translate(15px);
    opacity: 0;
    transition: var(--tran-03);
}

.course-icon i{
    font-size: 1.3rem;
}

.course-icon:hover{
    background-color: var(--main-color);
}

.course-image:hover .course-icon{
    transform: translate(0px);
    opacity: 1;
    transition: var(--tran-03) var(--i);
}

.modal{
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    overflow: hidden;
    z-index: 9;
    pointer-events: none;
}

.modal-overlay{
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background-color: var(--transparent-color);
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: var(--tran-03);
    
}

.slider-wrap{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, calc(-50% + 400px));
    width: 90%;
    max-width: 900px;
    display: grid;
    grid-template-columns: 20px 1fr 30px;
    background-color: var(--select-color);
    border-radius: var(--sample-border-radius);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    opacity: 0;
    transition: var(--tran-03);
}

.modal-card{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-b{
    opacity: 1;
}

.modal-prg, .modal-pl, .modal-d, .modal-s, .modal-f{
    display: none;
}

.modal-content h3{
    border-left: 3px solid var(--main-color);
    padding-left: 1rem;
    font-size: 1.2rem;
    color: var(--bold-color);
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    margin-left: 1rem;
}

.modal-content ul{
    align-items: center;
    list-style: circle;
    position: relative;
    padding: 2rem;
}

.modal-content ul li{
    font-size: 1rem;
    color: var(--medium-color);
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.modal-content q{
    font-size: .8rem;
    color: var(--muted-color);
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 3rem;
    margin-left: 2rem;
    position: absolute;
    bottom: 0;
}

.navigation{
    color: var(--bold-color);
    font-size: 2rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.slider-wrap .modal-image img{
    width: 100%;
    display: none;
    border-radius: 1rem;
}

.slider-wrap img.showImage{
    display: block;
}

.courses.open .modal{
    pointer-events: auto;
}

.courses.open .modal-overlay{
    opacity: 1;
}

.courses.open .container{
    transform: scale(.9);
}

.courses.open .slider-wrap{
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.45s 0.1s;
}

/* --------------- Testimonials Section Styling --------------- */

.testimonials{
    padding: var(--section-padding) 0 calc(var(--section-padding) + 120px);
}

.testimonials .container{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
}

div.swiper{
    width: 100%;
    background-color: var(--select-color);
    border-radius: 15px;
    padding: 2rem 0 2.5rem;
    box-shadow: var(--box-shadow);
}

.swiper-slide{
    padding: 0 2.5rem;
}

.user{
    display: grid;
    grid-template-columns: 85px 1fr;
    align-items: center;
    gap: 1.5rem;
}

.user img{
    width: 100%;
}

.user-info h4{
    font-weight: 500;
    color: var(--super-bold-color);
    margin-bottom: .3rem;
    font-size: 1.05rem;
}

.user-info h5{
    font-weight: 500;
    color: var(--bold-color);
    font-size: .8rem;
}

.swiper-slide .text{
    display: block;
    margin: 1.5rem 0 0;
}

div.swiper-pagination{
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11px;
    margin-top: 2rem;
}

span.swiper-pagination-bullet{
    background-color: var(--main-color);
    opacity: .3;
    width: 7px;
    height: 7px;
    cursor: pointer;  
}

span.swiper-pagination-bullet-active{
    opacity: 1;
    width: 11px; height: 11px;
}

.testimonials-title{
    padding-left: 5rem;
}

.testimonials-title > *{
    color: #fff;
}

.section-background{
    position: absolute;
    width: 100vw;
    max-width: 85rem;
    height: calc(100% + 120px);
    top: 15px;
    left: 60%;
    transform: translateX(calc(-50% + 120px));
    background-image: linear-gradient(30deg, var(--main-color) 30%, var(--accent-color) 30%);
    border-bottom-left-radius: 60px;
    z-index: -1;
}

.section-background .pointer{
    position: absolute;
    height: 450px;
    bottom: 0;
    right: 0;
}

.section-background .circle{
    position: absolute;
    width: 170px;
    left: 45%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.section-background .square{
    width: 60px;
    position: absolute;
    left: 70%;
    top: 40%;
    transform: translate(-50%, -50%);
}


/* --------------- Contact Section Styling --------------- */

.contact .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;

}

.mail{
    color: var(--bold-color);
    font-weight: 600;
    font-size: 1.2rem;
    transition: .3s;
}

.mail i{
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 2px;
    transform: translateY(3px);
    transition: .3s margin-left;
}

.mail:hover{
    color: var(--main-color);
}

.mail:hover i{
    margin-left: 10px;
}

.contact-form{
    background-color: var(--select-color);
    border-radius: var(--sample-border-radius);
    padding: 3.5rem 3rem;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-scroll);
    transition: var(--tran-03);
}

.contact-form h3 {
    color: var(--bold-color);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    line-height: 0.9;
}

.contact-form .form-input{
    margin-bottom: 1.5rem;
}

textarea.form-input{
    resize: none;
    min-height: 180px;
}

.contact .square{
    position: absolute;
    left: 17%; bottom: 12%;
    transform: translate(-50%, -50%);
}

.contact .triangle{
    position: absolute;
    left: 90%; top: 98%;
    transform: translate(-50%, -50%);
}

/* ============ Footer Styling ============= */

footer{
    padding: 4rem 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

footer .container .logo{
    margin-top: 3.5rem;
}

footer .container .logo img{
    filter: contrast(100%);
    transition: var(--tran-03);
}

body.dark footer .container .logo img{
    filter: contrast(0%);
}

footer .social-media{
    display: flex;
}

.social-link{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 1rem;
    background-color: var(--toggle-color);
    color: var(--super-bold-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tran-03);
}

.social-link:hover{
    background-color: var(--highlight-color);
}


/* ============ 1000px Screen responsive ============= */

@media (max-width: 1000px){
    .sub-heading{
        font-size: .75rem;
    }

    .heading{
       font-size:2rem;
    }

    .showcase-area .heading{
        font-size: 2.7rem;
    }

    .text{
        font-size: .84rem;
        margin: 1.3rem 0;
    }

    .btn{
        padding: 0.8rem 1.6rem;
        font-size: .8rem;
        min-width: 100px;
        border-radius: 15px;

    }

    .btn.secondary-btn{
        font-size: .85rem;
    }

    .form-input{
        padding: .8rem 1.45rem;
        border-radius: 15px;
        font-size: .8rem;
    }
    .logo{
        height: 110px;
    }

    .logo img{
        width: 105px;
    }

    header .logo img{
        margin-top: 2rem;
    }

    .nav-link{
        font-size: .7rem;
    }

    .showcase-area{
        padding: 100px 0;
    }

    .showcase-area .container{
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    .progress .container{
        column-gap: 2.5rem;
    }

    .contact .container{
        column-gap: 2.5rem;
    }

    .contact-form{
        padding: 2.5rem 2rem;
    }
}